.menu{
    padding: 5px;
    margin: 5px;
}
.quadro{
    display: flex;
    justify-content: space-between;
    margin: 1%;
}
iframe{
    border-radius: 10px;
    box-shadow: 2px 2px darkslategrey;
}
.a1{
    width: 290px;
    padding: 5px;
    height: auto;
}
.links{
    display: flex;
    justify-content: space-between;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 1%;
}
.a3:hover, a:active{
    color: white;
    padding: 8px;
    border-radius: 5px;
    background-color: darkslategrey;
}
.a3{
    color: white;
    padding: 8px;
    border-radius: 5px;
    background-color: darkslategrey;
}
h1{
    color: white;
}
